@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Roboto+Slab&family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito&family=Roboto&family=Roboto+Slab&family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito&family=Roboto+Slab&family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mukta&family=Nunito&family=Roboto&family=Roboto+Slab&family=Tinos&display=swap");

.title-confesion {
  font-size: 60px;
  font-variant: small-caps;
  text-align: center;
  color: #643120;
  margin-top: 100px;
  height: 90px;
  width: 1300px;
  border-bottom: 2px solid #643120;
  letter-spacing: 0px;
}
.capitulos {
  padding-top: 70px;
  padding-block-end: 70px;
  font-variant: small-caps;
  font-weight: bold;
}
