.title-1juan {
  font-size: 60px;
  font-variant: small-caps;
  text-align: center;
  color: #643120;
  margin-top: 100px;

  width: 100%;
  border-bottom: 2px solid #643120;
}
.body {
  text-align: center;
  min-height: 85vh;

  width: 80%;
}
@media screen and (max-width: 400px) {
  .title-1juan {
    font-size: 40px;
  }
}
@media screen and (max-width: 300px) {
  .title-1juan {
    font-size: 32px;
  }
}
