@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&family=Roboto+Slab&family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito&family=Roboto&family=Roboto+Slab&family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito&family=Roboto+Slab&family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mukta&family=Nunito&family=Roboto&family=Roboto+Slab&family=Tinos&display=swap");

/* Style for the first section */
.section1 {
  height: 100vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-serie {
  width: 30vw;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}

.serie-title {
  font-size: 90px;
  font-variant: small-caps;
  text-align: center;
  color: white;
}

/* Style for the second section */
.section2 {
  height: 50vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.visitor-welcome-title {
  width: 30vw;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #85722a;
  border-bottom: 2px solid rgba(133, 113, 42, 0.4);
  letter-spacing: 2px;
}
.previous-sermon-button:hover {
  background-color: white;
}

.visitor-info {
  height: 90vh;
  width: 50%;
  background-color: rgb(122, 122, 122);
}

.visitor-info-container {
  display: flex;
  gap: 10px;
  height: 40vh;
  width: 80%;
}

.visitor-info-box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: #e5e5e5;
  padding-top: 30px;
  border-radius: 5px;
}

.visitor-info-box-title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e5e5e5;
  margin-bottom: 1.5rem;
}

.visitor-info-box-content {
  display: flex;
  width: 70%;
}
.section3 {
  height: 70vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.visitor-location-title {
  width: 30vw;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #85722a;
  border-bottom: 2px solid rgba(133, 113, 42, 0.4);
  letter-spacing: 2px;
  position: relative;
}
.ubicacion {
  position: relative;
  width: 96rem;
  height: 29rem;
}

@media screen and (max-width: 800px) {
  .grid-container {
    flex-direction: column;
  }
  .grid-item1 {
    padding-bottom: 20px;
  }
  .ubicacion {
    width: 100%;
    height: 100%;
    margin-top: -20px;
  }
}

@media screen and (max-width: 900px) {
  .current-serie {
    font-size: 20px;
    width: 200px;
  }
  .serie-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 1550px) {
  .ubicacion {
    width: 900px;
  }
}
@media screen and (max-width: 970px) {
  .ubicacion {
    width: 500px;
    height: 200px;
    top: 800px;
  }
  .visitor-info-container {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .visitor-info-box {
    height: 350px;
    width: 400px;
  }
  .visitor-location-title {
    top: 800px;
  }
  .section3 {
    height: 1200px;
  }
}
@media screen and (max-width: 550px) {
  .ubicacion {
    width: 100%;
    height: 100%;
    top: 750px;
  }
  .visitor-location-title {
    top: 800px;
  }
  .visitor-info-container {
    flex-direction: column;
  }
  .visitor-info-box-content {
    height: 800px;
  }
  .visitor-info-box {
    height: 350px;
  }
  .section3 {
    height: 1100px;
  }
}
@media screen and (max-width: 1650px) {
  .visitor-info-box {
    width: 850px;
    height: 350px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 850px;
    height: 350px;
    top: 820px;
  }
  .visitor-location-title {
    top: 800px;
  }
  .section3 {
    height: 1400px;
  }
}
@media screen and (max-width: 1000px) {
  .visitor-info-box {
    width: 750px;
    height: 350px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 750px;
    height: 350px;
    top: 820px;
  }
}
@media screen and (max-width: 820px) {
  .visitor-info-box {
    width: 650px;
    height: 350px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 650px;
    height: 350px;
    top: 820px;
  }
}
@media screen and (max-width: 720px) {
  .visitor-info-box {
    width: 550px;
    height: 300px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 550px;
    height: 300px;
    top: 670px;
  }
  .visitor-location-title {
    top: 650px;
  }
  .section3 {
    height: 1200px;
  }
}
@media screen and (max-width: 600px) {
  .visitor-info-box {
    width: 450px;
    height: 300px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 450px;
    height: 300px;
    top: 670px;
  }
  .visitor-location-title {
    top: 650px;
  }
  .section3 {
    height: 1200px;
  }
}
@media screen and (max-width: 530px) {
  .visitor-info-box {
    width: 440px;
    height: 300px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 440px;
    height: 250px;
    top: 670px;
  }
  .visitor-location-title {
    top: 650px;
  }
  .section3 {
    height: 1200px;
  }
}
@media screen and (max-width: 500px) {
  .visitor-info-box {
    width: 350px;
    height: 300px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .visitor-info-box-content {
    justify-content: center;
  }
  .ubicacion {
    width: 350px;
    height: 250px;
    top: 550px;
  }
  .visitor-location-title {
    top: 590px;
  }
  .section3 {
    height: 1000px;
  }
  .section1 {
    display: flex;
  }
}
@media screen and (max-width: 375px) {
  .visitor-info-box {
    width: 300px;
    height: 300px;
  }
  .visitor-info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .ubicacion {
    width: 100%;
    height: 100%;
    top: 670px;
  }
  .visitor-location-title {
    top: 720px;
  }
  .section3 {
    height: 1100px;
  }
}
@media screen and (max-width: 780px) {
  .grid-container {
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 780px) {
  .visitor-location-title {
    padding-top: 18%;
  }
  .section3 {
    height: 1100px;
  }
}
@media screen and (max-height: 395px) {
  .current-serie {
    margin-top: 100px;
    font-size: 14px;
  }
  .serie-title {
    font-size: 30px;
    margin-top: -30px;
  }
}
@media screen and (max-height: 670px) {
  .visitor-location-title {
    margin-top: 70px;
  }
  .current-serie {
    margin-top: 100px;
    font-size: 14px;
  }
  .serie-title {
    font-size: 40px;
  }
}
@media screen and (max-height: 380px) {
  .current-serie {
    margin-top: 100px;
    font-size: 12px;
  }
  .serie-title {
    font-size: 30px;
    margin-top: -40px;
  }
  .button-responsive-1 {
    width: 220px;
  }
  .button-reponsive-2 {
    width: 300px;
  }
  .grid-container {
    margin-top: -40px;
  }
  .visitor-location-title {
    top: 550px;
  }
  .ubicacion {
    top: 520px;
  }
  .section3 {
    top: 1000px;
  }
}
@media screen and (max-height: 420px) {
  .visitor-location-title {
    margin-top: 220px;
  }
  .ubicacion {
    margin-top: -40px;
  }
  .section3 {
    height: 1500px;
  }
}
@media screen and (max-width: 420px) {
  .visitor-welcome-title {
    margin-top: -40px;
  }
  .visitor-info-container {
    margin-top: -40px;
  }
  .visitor-location-title {
    margin-top: -130px;
  }
  .section3 {
    height: 950px;
  }
}
@media screen and (max-width: 420px) {
}
@media screen and (max-height: 375px) {
  .visitor-location-title {
    margin-top: 220px;
  }
  .ubicacion {
    margin-top: -1px;
  }
  .section3 {
    height: 1370px;
  }
}
@media screen and (max-height: 360px) {
  .visitor-location-title {
    margin-top: 350px;
  }
  .section3 {
    height: 1480px;
  }
}
@media screen and (min-height: 1180px) {
  .visitor-location-title {
    margin-top: -130px;
  }
  .ubicacion {
    margin-top: -20px;
  }
  .section3 {
    height: 1200px;
  }
}
@media screen and (min-height: 1024px) {
  .visitor-location-title {
    margin-top: -200px;
  }
  .section3 {
    height: 1250px;
  }
}
